<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cf.ltkcdn.net/cocktails/images/std/259380-1600x1067-bartender.jpg);">
  <div class="container d-flex align-items-start flex-column bd-highlight mb-3">
    <h1>All the mixed feelings about <strong>cocktails</strong></h1>
    <p>What's your cocktail for tonight?</p>
    <%= link_to 'or add your favourite cocktail', new_cocktail_path, class: 'btn btn-dark' %>
  </div>
</div>
<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail_photo(cocktail) %>)">
            <h2><%= cocktail.name.titleize %></h2>
          </div>
        </div>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="flip-card-back">
            <% if cocktail.ingredients.any? %>
              <div class="back-cocktail-ing">
                <h2>Ingredients:</h2>
                <% cocktail.ingredients.each do |ingredient| %>
                  <div><%= ingredient.name.titleize %></div>
                <% end %>
              </div>
            <% else %>
              <div class="back-cocktail-ing">No ingredients yet...<br>
              </div>
              click to add ingredients</div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>