<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cocktail_photo(@cocktail) %>);">
  <div class="d-flex align-items-end flex-column bd-highlight mb-3">
    <h1><%= @cocktail.name.titleize %></h1>
  </div>
</div>
<div class="container">
  <div class="form">
    <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient, include_blank: false, collection: @ingredients %>
      <%= f.submit "Add description" %>
    <% end %>
  </div>
</div>